<div class="row-fluid">
<div class="span12 game-container">

	<div class="row-fluid">
	<div class="span2">
      <table class="table-bordered table question-table">
      <thead>
        <tr>
        	<th>
        	<% if current_user %>
             <img src=<%= current_user.image %> alt="profile photo">
          	<div><%= current_user.name %></div>
            <% else %>
              <div>Anonymous</div>
            <% end %>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
        	<td>
        		<div class="question-mark-box">?</div>
        		<span id="question-1" class="inner-text"> 1 </span>
        		<div class="marking-box">?</div>
        	</td>
        </tr>
        <tr>
        	<td>	
        		<span id="question-2" class="inner-text"> 2 </span>
        	</td>
        </tr>
        <tr>
        	<td>	
        		<span id="question-2" class="inner-text"> 3 </span>
        	</td>
        </tr>
        <tr>
        	<td>	
        		<span id="question-2" class="inner-text"> 4 </span>
        	</td>
        </tr>
        <tr>
        	<td>	
        		<span id="question-2" class="inner-text"> 5 </span>
        	</td>
        </tr>

      </tbody>
    </table>


    <div class="player-a points-counter"><div id="number-points">0</div>Points</div>

  </div> <!-- end span 2 -->

	  <div class="span8 game-inner-container">

	  	<!-- timer -->
	  	<div id="countdown">

		</div>


	  	<!-- end timer -->
	  	<!-- get some questions -->
	  	<% question = get_question() %>
	  	<script> localStorage.setItem('questions', '<%=question.to_json.html_safe%>'); </script>


	  	<div class="question-text">
			<span id="part1"></span>	
	  		<span id="answer" class="hidden-answer"></span>
	  		<span id="part2"></span>	
	  	</div>

	  	<div class="well" id="start-btn" style="max-width: 400px; margin: 0 auto 10px;">
              <button type="button" class='btn btn-large btn-block btn-success' onclick="startQuiz()">Start</button>
        </div>
	  	

	  	
	  	<div id="answer-buttons">
		  
		</div>

	  </div>

	<div class="span2">
      <table class="table-bordered table question-table inactive">
      <thead>
        <tr>
          <th>Player 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> 1 </span>
        		<div class="marking-box">?</div>
        	</td>
        </tr>
        <tr><td>Question 2</td></tr>
        <tr><td>Question 3</td></tr>
        <tr><td>Question 4</td></tr>
        <tr><td>Question 5</td></tr>
      </tbody>
    </table>
  </div> <!-- end span 2 -->

  </div>

</div>
</div>