<div class="row-fluid">
<div class="span12 game-container">

	<div class="row-fluid">
	<div class="span2">
      <table class="table-bordered table question-table">
      <thead>
        <tr>
        	<th>
        	<% if current_user %>
             <img src=<%= current_user.image %> alt="profile photo">
          	<div><%= current_user.name %></div>
            <% else %>
              <div>Anonymous</div>
            <% end %>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="question-1" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 1 </span>
        	</td>
        </tr>
        <tr id="question-2" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 2 </span>
        	</td>
        </tr>
        <tr id="question-3" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 3 </span>
        	</td>
        </tr>
        <tr id="question-4" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 4 </span>
        	</td>
        </tr>
        <tr id="question-5" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 5 </span>
        	</td>
        </tr>

      </tbody>
    </table>


    <div class="player-a points-counter"><div id="number-points">0</div>Points</div>

  </div> <!-- end span 2 -->

	  <div class="span8 game-inner-container">

	  	<!-- timer -->
	  	<div id="countdown">

		</div>


	  	<!-- end timer -->
	  	<!-- get some questions -->
	  	<% question = get_question() %>
	  	<script> localStorage.setItem('questions', '<%=question.to_json.html_safe%>'); </script>


	  	<div class="question-text">
			<span id="part1"></span>	
	  		<span id="answer" class="hidden-answer"></span>
	  		<span id="part2"></span>	
	  	</div>

	  	
              <button type="button" id="start-btn" class='btn btn-xlarge btn-block btn-success' onclick="startQuiz()">Start</button>
        
	  	

	  	
	  	<div id="answer-buttons">
		  
		</div>

	  </div>

	<div class="span2">
      <table class="table-bordered table question-table inactive">
      <thead>
        <tr>
        	
          <th><div class="placeholder" style="width: 50px; height: 50px">Hold</div>Opponent (unavailable)</th>
        </tr>
      </thead>
      <tbody>
        <tr id="question-1" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 1 </span>
        	</td>
        </tr>
        <tr id="question-2" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 2 </span>
        	</td>
        </tr>
        <tr id="question-3" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 3 </span>
        	</td>
        </tr>
        <tr id="question-4" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 4 </span>
        	</td>
        </tr>
        <tr id="question-5" >
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> Qu. 5 </span>
        	</td>
        </tr>

      </tbody>
    </table>
  </div> <!-- end span 2 -->

  </div>

</div>
</div>