<div class="user-page-container">
<div class="row-fluid">
	<div class="span12">
		<h1>Badges for <%= @user.name %></h1>
	    <% badges = (@user.points / 100).round %>
	    
	    <% for i in 1..badges %>
    	<%= image_tag("WW_badge_wizard.png", alt: "word wizard badge", class: "leaderboard-badge") %>
    	<% end %>
    	