<div class="user-page-container">
<div class="row-fluid">
	<div class="span12">
		<h1>Badges for <%= @user.name %></h1>
<% if @user.points < 50 %>
<td><%= image_tag("WW_badge_wizard.png", alt: "word wizard badge", class: "leaderboard-badge-profile") %></td>
<% end %>
</div>
</div>
</div>